<div class="outter-wrapper">

    <div class="start-col">
 
       <div class="side-header">
 
          <div class="titulo">
             <img src="/images/ecopetrol-icon.png" />
             <h1>Comisiones ICP</h1>
          </div>
 
          <div class="illustration">
            <img src="/images/illustration.svg" />
          </div>
 
       </div>
 
    </div>
 
    <div class="end-col">

        <div id="edit-password" v-cloak>
          <div class="container">
            <h1>Cambiar Contraseña</h1>
            <hr/>
            <ajax-form action="updatePassword" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="password">Nueva Contraseña</label>
                    <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" focus-first>
                    <div class="invalid-feedback" v-if="formErrors.password">Ingrese una nueva contraseña.</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="confirm-password">Confirmar Contraseña</label>
                    <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" >
                    <div class="invalid-feedback" v-if="formErrors.confirmPassword">La contraseña y la confirmación no coinciden.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p class="text-danger" v-if="cloudError">Ocurrió un error, inténtelo de nuevo más tarde.</p>
                </div>
                <div class="col-sm-6">
                  <div class="form-group text-right">
                    <a class="btn" href="/account">Cancelar</a>
                    <ajax-button type="submit" :syncing="syncing" class="btn">Guardar Cambios</ajax-button>
                  </div>
                </div>
              </div>
            </ajax-form>
          </div>
        </div>

      </div>

    </div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
