<div class="outter-wrapper">

    <div class="start-col">
 
       <div class="side-header">
 
          <div class="titulo">
             <img src="/images/ecopetrol-icon.png" />
             <h1>Comisiones ICP</h1>
          </div>
 
          <div class="illustration">
            <img src="/images/illustration.svg" />
          </div>
 
       </div>
 
    </div>
 
    <div class="end-col">

        <div id="forgot-password" v-cloak>
          <div class="container">
            <h1 class="text-center">Recuperar Contraseña</h1>
            <div class="forgot-form" v-if="!cloudSuccess">
              <p class="text-center">Ingresa tu correo para restaurar tu contraseña.</p>
              <hr/>
              <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
                <div class="form-group">
                  <input type="email" name="email-address" class="form-control" placeholder="ingresa tu email" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
                  <div class="invalid-feedback" v-if="formErrors.emailAddress">Ingrese su email.</div>
                </div>
                <p class="text-danger" v-if="cloudError"><small>Ocurrió un error, inténtelo de nuevo más tarde.</small></p>
                <div class="form-group">
                  <ajax-button type="submit" :syncing="syncing" class="btn ajax-button btn-dark btn-lg btn-block">Enviar mensaje de restauración</ajax-button>
                </div>
              </ajax-form>
              <p class="text-center"><a href="/login">Ingresar</a></p>
            </div>
            <div class="success-message" v-if="cloudSuccess">
              <p>Hemos enviado un email de restauración de contraseña.</p>
              <hr/>

              <p class="text-center"><a class="btn btn-outline-primary" href="/login">Ingresar</a></p>
            </div>
          </div>
        </div>

      </div>

    </div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
